<title>NecesitoCR | Main</title>
<div id="mainview">
	
	<div class="pull-left eva-container"><img src="resources/images/eva-web.png"></div>
	<form class="form-inline pull-right">
		
		<div class="form-group">
			<label for="service">necesito</label> 
			<input type="text" class="form-control" id="service" placeholder="fontanero" ng-model="searchTermService">
		</div>
		
		<div class="form-group">
			<label for="location">en</label> <input type="text" class="form-control" id="location" placeholder="Alajuela" ng-model="searchTermLocation">
		</div>
		
		<button type="submit" ng-click="search()" class="btn btn-default">buscar</button>
	</form>

</div>